[core]
	editor = \"C:\\Users\\andre\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[user]
	email = 8415722+Duckth@users.noreply.github.com
	name = Andreas Trøstrup
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
